@charset "UTF-8";
@font-face {
  font-family: "icons";
  src: url("../fonts/fantasticon/icons.ttf?dd35b89116a03568907c885f3c6afc34") format("truetype"), url("../fonts/fantasticon/icons.woff?dd35b89116a03568907c885f3c6afc34") format("woff"), url("../fonts/fantasticon/icons.woff2?dd35b89116a03568907c885f3c6afc34") format("woff2");
}

*[class^="fantasticon-"]:before, *[class*=" fantasticon-"]:before {
  font-family: icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
}

.fantasticon-briefcase:before {
  content: "";
}

.fantasticon-folder:before {
  content: "";
}

.fantasticon-git-branch:before {
  content: "";
}

.fantasticon-github:before {
  content: "";
}

.fantasticon-globe:before {
  content: "";
}

.fantasticon-instagram:before {
  content: "";
}

.fantasticon-linkedin:before {
  content: "";
}

.fantasticon-mail:before {
  content: "";
}

.fantasticon-map-pin:before {
  content: "";
}

.fantasticon-star:before {
  content: "";
}

.fantasticon-twitter:before {
  content: "";
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf") format("truetype");
}

.skeleton-loading-light {
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-radius: 20px;
  background-color: #00000010;
  position: relative;
  overflow: hidden;
}

.skeleton-loading-light::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: skeleton-loading 2s infinite;
          animation: skeleton-loading 2s infinite;
}

.skeleton-loading-light::after {
  background-image: linear-gradient(90deg, rgba(48, 47, 61, 0) 0, rgba(48, 47, 61, 0.4) 20%, rgba(48, 47, 61, 0.8) 60%, rgba(48, 47, 61, 0));
}

.skeleton-loading-dark {
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-radius: 20px;
  background-color: #00000010;
  position: relative;
  overflow: hidden;
}

.skeleton-loading-dark::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: skeleton-loading 2s infinite;
          animation: skeleton-loading 2s infinite;
}

.skeleton-loading-dark::after {
  background-image: linear-gradient(90deg, rgba(48, 47, 61, 0) 0, rgba(48, 47, 61, 0.4) 20%, rgba(48, 47, 61, 0.8) 60%, rgba(48, 47, 61, 0));
}

@-webkit-keyframes skeleton-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: #22212c;
  height: 100vh;
}

#root {
  padding: 40px 40px 0;
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

@media (max-width: 1024px) {
  #root {
    -moz-column-gap: 40px;
         column-gap: 40px;
    padding: 20px 16px 0;
  }
}

@media (max-width: 900px) {
  #root {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
  }
}

.sidebar-container {
  max-width: 348px;
  width: 100%;
}

@media (max-width: 1024px) {
  .sidebar-container {
    max-width: 50%;
  }
}

@media (max-width: 900px) {
  .sidebar-container {
    max-width: initial;
    margin-bottom: 40px;
  }
}

.sidebar-container__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 32px 48px;
  min-height: 292px;
}

.sidebar-container__profile__avatar {
  width: 128px;
  height: 128px;
  background-color: #000000;
  overflow: hidden;
  border: 2px solid #00ff00;
  border-radius: 50%;
  display: flex;
  margin-bottom: 30px;
}

.sidebar-container__profile__avatar__image {
  width: 100%;
  height: auto;
}

.sidebar-container__profile__name {
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 29px;
  color: #837e9f;
  text-align: center;
}

.sidebar-container__profile__name__area {
  font-family: inherit;
  font-style: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 16px;
  display: block;
  margin-top: 10px;
}

.sidebar-container__network {
  padding: 30px 40px;
}

.sidebar-container__network__navigation__list {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

@media (max-width: 900px) {
  .sidebar-container__network__navigation__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .sidebar-container__network__navigation__list {
    grid-template-columns: 1fr;
  }
}

.sidebar-container__network__navigation__list__item {
  color: #837e9f;
  font-size: 0.8125rem;
  font-weight: 400;
}

.sidebar-container__network__navigation__list__item i {
  font-size: 1.5rem;
  margin-right: 20px;
}

.sidebar-container__network__navigation__list__item a,
.sidebar-container__network__navigation__list__item p {
  font: inherit;
  display: flex;
  align-items: center;
}

.sidebar-container__technologies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
  padding: 0 10px;
}

@media (max-width: 500px) {
  .sidebar-container__technologies__list {
    grid-template-columns: 1fr 1fr;
  }
}

.sidebar-container__technologies__list__bag {
  border-radius: 30px;
  background-color: rgba(203, 146, 177, 0.7);
  padding: 0 10px;
  height: 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-container__technologies__list__bag__text {
  z-index: 1;
  position: relative;
  color: #000000;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 13px;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-container__technologies__list__bag::after {
  content: "";
  background-color: #cb92b1;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  transition: width 0.5s;
}

.box-container__rounded {
  border-radius: 20px;
  background-color: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 30px 20px;
}

.box-container__rounded + .box-container__rounded {
  margin-top: 30px;
}

.box-container__rounded__title {
  font-family: "Merriweather Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 25px;
  color: #837e9f;
}

.active__experience__list {
  list-style: disc;
  padding: 0 0 0 40px;
  margin-top: 20px;
}

.active__experience__list__item {
  color: #837e9f;
}

.active__experience__list__item + .active__experience__list__item {
  margin-top: 18px;
}

.active__experience__list__item__enterprise {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 18px;
}

.active__experience__list__item__operation, .active__experience__list__item__position {
  display: block;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 15px;
}

.active__experience__list__item__position {
  font-weight: bold;
}

.active__experience__list__item__activities {
  display: block;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 15px;
}

.technology-xp__1::after {
  width: 20%;
  /* Percentagem de experiência */
}

.technology-xp__2::after {
  width: 40%;
  /* Percentagem de experiência */
}

.technology-xp__3::after {
  width: 60%;
  /* Percentagem de experiência */
}

.technology-xp__4::after {
  width: 80%;
  /* Percentagem de experiência */
}

.technology-xp__5::after {
  width: 100%;
  /* Percentagem de experiência */
}

.main-container {
  flex: 1;
}

.main-container__projects__heading__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container__projects__heading__title__see-all {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: transparent;
  line-height: 18px;
  color: #837e9f;
  border: none;
  cursor: pointer;
}

.main-container__projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 30px 0;
}

@media (max-width: 550px) {
  .main-container__projects__list {
    grid-template-columns: 1fr;
  }
}

.main-container__projects__list__item {
  margin-top: 0 !important;
}

.main-container__projects__list__item .project-card__link {
  color: #837e9f;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container__projects__list__item .project-card__link__name {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 22px;
}

.main-container__projects__list__item .project-card__link__name > i {
  margin-right: 16px;
}

.main-container__projects__list__item .project-card__link__description {
  margin-bottom: 37px;
  height: 100%;
  min-height: 60px;
  flex: 1;
}

.main-container__projects__list__item .project-card__link__description p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-container__projects__list__item .project-card__link__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container__projects__list__item .project-card__link__bottom__left {
  display: flex;
  align-items: center;
}

.main-container__projects__list__item .project-card__link__bottom__left__item {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.main-container__projects__list__item .project-card__link__bottom__left__item + .project-card__link__bottom__left__item {
  margin-left: 16px;
}

.main-container__projects__list__item .project-card__link__bottom__left__item > i {
  margin-right: 8px;
}

.main-container__projects__list__item .project-card__link__bottom__language {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 18px;
}

.main-container__projects__list__item-empty {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  color: #837e9f;
}

.main-container__projects__list__container {
  position: relative;
  max-height: 275px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.main-container__projects__list__container:not(.opened)::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  right: -10px;
  background-color: #22212c;
  height: 25%;
  filter: blur(24px);
}

@media (max-width: 1200px) {
  .main-container__projects__list__container {
    max-height: 295px;
  }
}

.main-container__projects__list__container.opened {
  max-height: 4400px;
}

@media (max-width: 1200px) {
  .main-container__projects__list__container.opened {
    max-height: 4720px;
  }
}

.main-container__posts {
  padding-top: 20px;
}

.main-container__posts__list {
  margin: 30px 0;
}

.main-container__posts__list.skeleton-loading-dark > * {
  display: none;
}

.main-container__posts__list__item-empty {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  width: 100%;
  color: #837e9f;
}

.empty-list {
  display: flex;
}

.footer-container {
  padding: 19px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container__text {
  font-size: 0.875rem;
  color: #837e9f;
}

/*# sourceMappingURL=style.css.map */
