.sidebar-container {
  max-width: 348px;
  width: 100%;

  @include media-max(1024px) {
    max-width: 50%;
  }

  @include media-max(900px) {
    max-width: initial;
    margin-bottom: 40px;
  }

  &__profile {
    @include centralize-content;
    flex-direction: column;
    padding: 32px 32px 48px;
    min-height: 292px;

    &__avatar {
      width: 128px;
      height: 128px;
      background-color: $black;
      overflow: hidden;
      border: 2px solid $green;
      border-radius: 50%;
      display: flex;
      margin-bottom: 30px;
      &__image {
        width: 100%;
        height: auto;
      }
    }
    &__name {
      @include common-title;
      text-align: center;
      &__area {
        font-family: inherit;
        font-style: inherit;
        font-style: normal;
        font-weight: 300;
        font-size: calculate-rem(13);
        line-height: 16px;
        display: block;
        margin-top: 10px;
      }
    }
  }

  &__network {
    padding: 30px 40px;

    &__navigation {
      &__list {
        display: flex;
        flex-direction: column;
        row-gap: 22px;

        @include media-max(900px) {
          column-gap: 20px;
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        @include media-max(500px) {
          grid-template-columns: 1fr;
        }
        &__item {
          color: $text-color;
          font-size: calculate-rem(13);
          font-weight: 400;

          i {
            font-size: calculate-rem(24);
            margin-right: 20px;
          }

          a,
          p {
            font: inherit;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  &__technologies {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
      margin-top: 20px;
      padding: 0 10px;

      @include media-max(500px) {
        grid-template-columns: 1fr 1fr;
      }

      &__bag {
        border-radius: 30px;
        background-color: rgba($rose, 0.7);
        padding: 0 10px;
        height: 24px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &__text {
          z-index: 1;
          position: relative;
          color: $black;
          font-size: calculate-rem(10);
          text-transform: uppercase;
          font-weight: 700;
          line-height: 13px;
          white-space: nowrap;
          max-width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &::after {
          content: "";
          background-color: $rose;
          display: block;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 0;
          width: 100%;
          transition: width 0.5s;
        }
      }
    }
  }
}

.box-container {
  &__rounded {
    border-radius: 20px;
    background-color: $secondary;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 30px 20px;

    & + .box-container__rounded {
      margin-top: 30px;
    }

    &__title {
      @include common-title(20, 25px);
    }
  }
}

.active__experience {
  &__list {
    list-style: disc;
    padding: 0 0 0 40px;
    margin-top: 20px;

    &__item {
      color: $text-color;

      & + .active__experience__list__item {
        margin-top: 18px;
      }

      &__enterprise {
        display: block;
        font-size: calculate-rem(14);
        font-weight: 700;
        line-height: 18px;
      }
      &__operation,
      &__position {
        display: block;
        font-size: calculate-rem(12);
        font-weight: 300;
        line-height: 15px;
      }
      &__position {
        font-weight: bold;
      }
      &__activities {
        display: block;
        font-size: calculate-rem(12);
        font-weight: 400;
        line-height: 15px;
      }
    }
  }
}

.technology-xp {
  @for $xp from 1 through 5 {
    &__#{$xp} {
      &::after {
        width: (($xp * 100%) / 5); /* Percentagem de experiência */
      }
    }
  }
}
