.main {
  margin: auto 2.5rem;
  margin-top: 4rem;
  padding: 2rem 1rem;
  background-color: #ffffff;
  border: 1px solid #d6aff3;
  border-bottom: none;
  border-top: none;
}
#about {
  margin-bottom: 4rem;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.section-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.avatar {
  width: 40%;
  border-radius: 50%;
  border: 2px solid #d6aff3;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.about-resume {
  text-align: center;
  line-height: 1.6rem;
  font-size: 15px;
}

@media (min-width: 768px) {
  .main {
    margin: auto 15vw;
    margin-top: 6.8rem;
    padding: 3rem 4rem;
  }
  .avatar {
    width: 15%;
  }
}
