.projects-container {
  margin: 50px;
  margin-top: 150px;
}
.repositories-list {
  display: grid;
  grid-template-columns: repeat(3, 30vw);
  margin: 50px 0;
}
.repo-card {
  list-style: none;
  margin: 10px;
  box-shadow: 0 0 6px #00000050;
}
.repo {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Segoe UI", sans-serif;
}
.repo-name::before {
  content: "Nome: ";
}
.repo-description::before {
  content: "Desacrição: ";
}
.repo-name::before,
.repo-description::before {
  font-weight: bold;
}
@media (min-width: 720px) {
}
