.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #bb99d5;
  align-items: center;
}
.logo-main img {
  width: 70%;
}
.nav-bar-list {
  top: 50%;
  display: flex;
  position: relative;
}
.nav-bar-item {
  font-size: 13px;
  margin-right: 10px;
}

main h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 720px) and (max-width: 1270px) {
}

@media (min-width: 1170px) {
  .header {
    padding: 30px;
  }
  .logo-main img {
    width: 50%;
  }
  .nav-bar-list {
  }
  .nav-bar-item {
    margin-right: 15px;
    font-size: 20px;
  }
}
