@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/Merriweather_Sans/MerriweatherSans-ExtraBold.ttf") format("truetype");
}
