$containerWidth: 1360px;

//Cores
$black: #000000;
$primary: #22212c;
$secondary: #302f3d;
$rose: #cb92b1;
$yellow: #e7de79;
$green: #00ff00;
$text-color: #837e9f;

//fonts
$main-font: "Merriweather Sans", sans-serif;
$icons-font: "icons";
